*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:black;
}

.box{
    background: orangered;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 40px;
    border: 20px solid green;
    /* border-right: 10px dashed gray;
    border-left: 10px solid cadetblue;
    border-bottom: 20px double yellow;
    border-top: 100px dotted violet; */
    border-right-width: 10px;
    border-right-style: dotted;
    border-right-color: yellowgreen;
    border-left-width: 30px;
    border-left-style: dashed;
    border-left-color: blueviolet;
}

/* border: width style color: */

/* Ejemplo */

.card {
    background-color: gray;
    width:400px;
    margin:20px auto;
    height:auto;
    padding:20px 0;
    /* border: 1px solid black; */
    box-shadow: 10px 25px 50px crimson;
    border-radius: 10px;
}

.img {
    display: block;
    width: 200px;
    height:200px;
    object-fit: cover;
    margin: 20px auto;
    border-radius: 50%;
}

.name {
    text-align: center;
    font-family: Arial;
}

.cta {
    display:block;
    width: 150px;
    background: crimson;
    border-radius: 3px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 20px auto;
}
