/* https://getemoji.com/ */

/*Selectores*/

h2 {
  color: steelblue;
}

.borde {
  border: 1px solid black;
}

#section {
  border: 1px solid black;
}

.titulo {
  text-align: center;
}

.😁 {
  color: darkblue;
}

.😂 {
  border: 1px solid black;
  font-size: 20px;
}

/* Selectores de atributo */
[href] {
  text-decoration: none;
}

[href="http://rauljcamacho.website/inicio"]
{
  color: darkred;
}

[href^='hsttps'] {
  color: darkolivegreen;
}

[href$='org'] {
  background-color: steelblue;
  color: white;
}

[href*='raulcamacho'] {
  background-color: darksalmon;
}
